* {
  border: none;
}

html {
  background: #eee;
}

.main {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
}

.read-container, .call-container {
  margin: 8px 0;
}

input, textarea {
  float: left;
  vertical-align: middle;
  padding: 0;
  height: 40px;
  width: 200px;
  resize: none;
}

input {
  text-align: center;
  padding: 0 0px;
  font-size: 26px;
}

button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 0px;
}
.call-btn{
  border-left: solid 1px #eee
}
.google-call-btn{
  width:100%;
  margin-bottom: 10px
}
.google-call-container{

}
